.Column{
  width: 330px;
  transition: opacity 0.15s ease 0s;
  border-radius: 8px;
  cursor: pointer;
  border: 2px solid rgb(255, 255, 255);
  padding: 0px 10px 10px;
  background-color: rgb(255, 255, 255);
  background-image: linear-gradient(rgb(235, 239, 244), rgb(231, 234, 241));
  position: absolute;
}
.Column:hover::before {
  box-shadow: rgb(17 49 96 / 20%) 0px 4px 8px 0px;
  border-color: rgb(197, 203, 214);
}
.Column.DragPreview{
  box-shadow: rgb(17 49 96 / 20%) 0px 6px 16px 0px;
  opacity: 0.9;
}
.Column::before{
  display: block;
  border-radius: 8px;
  position: absolute;
  inset: -3px;
  border: 1px solid rgb(212, 217, 224);
  content: "";
  transition: box-shadow 0.15s ease 0s;
}
.Column .header{
  display: flex;
  min-height: 50px;
}
.Column .header .title{
  width: auto;
    margin: 10px 0px;
    overflow-x: clip;
    font-size: 15px;
    font-weight: 600;
    padding: 4px 8px;
    width: 305px;
}
.Column .header .rightArea{
  display: flex;
  margin-top: 18px;
  transition: padding 0.15s ease 0s;
  padding: 0px;
}
.Column:hover .header .rightArea{
  padding: 0px 8px 0px 16px;
}
.Column .header .rightArea .testBtn{
  transition: max-width 0.12s ease 0s, margin-right 0.12s ease 0s, opacity 0.12s ease 0s;
    max-width: 0px;
    margin-right: 0px;
    opacity: 0;
    overflow: clip;
}
.Column:hover .header .rightArea .testBtn{
  max-width: 16px;
    opacity: 1;
}
.Column:hover .header .svg-icon{
  box-sizing: content-box;
  width: 16px;
  height: 16px;
  color: rgb(15, 126, 192);
  display: block;
  cursor: pointer;
  opacity: 0.8;
  transition: opacity 0.15s ease 0s, color 0.15s ease 0s;
}

.TaskItem{
  position: relative;

}
.TaskItem:not(:last-of-type) {
  padding-bottom: 6px;
}
.Indicator{
  position: relative;
    display: none;
    width: 100%;
    height: 0px;
    background-color: rgba(98, 119, 140, 0.133);
    border-radius: 5px;
}
.Indicator::before{
  position: absolute;
  top: -4px;
  right: 1px;
  left: 1px;
  height: 2px;
  border-radius: 2px;
  content: "";
  margin: 0;
}
.Indicator.Possible{
  display: block;
  transition: height 0.15s ease 0s;
}
.Indicator.Possible .inset{
  pointer-events: auto;
}
.Indicator.Possible::before{
  background-color: rgba(98, 119, 140, 0.667);
}
/**
*用css方法控制占位符展开，需要额外处理拖到偏移
.Indicator.Possible:hover{
  display: block;
  height: 56px;
  margin: 0 0 6px;
  transition: height 0.15s ease 0s, margin 0.15s ease 0s;
}
.Indicator.Possible:hover::before{
  display: none;
}
.Indicator.Possible:hover .inset{
  top:-38px;
} 
*/

.Indicator .inset{
  position: absolute;
    inset: -32px -16px;
    border: 1px solid transparent;
    z-index: 25;
    pointer-events: none;
}
 .Indicator.Placeholder {
  display: block;
  height: 54px;
  margin: 0 0 6px;
  transition: height 0.15s ease 0s, margin 0.15s ease 0s;
}
.Indicator.Placeholder::before {
  display: none;
}
.Indicator.Placeholder .inset{
  top:-38px;
}
 .Indicator.Placeholder .inset{
  pointer-events: auto;
}


/* .TaskItem:first-of-type .Overlay{
  top: 2px;
} */
.TaskItem:last-of-type .Indicator
{
  bottom: -4px;
}
.TaskList>.Indicator{
  position: relative;
}